/*
@File: Alysa Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default Area CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Main Banner Area CSS
** - Services Area CSS
** - Portfolio Area CSS
** - About Area CSS
** - Testimonial Area CSS
** - Blog Area CSS
** - CTA Area CSS
** - Page Title Area CSS
** - Blog Details Area CSS
** - Contact Area CSS
** - Copyright Area CSS
** - Go Top Area CSS
*/
/*================================================
Default Area CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&amp;display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

a {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #ffffff;
  font-size: 16px;
}

p:last-child {
  margin-bottom: 0;
}

.bg-main-color {
  background-color: #ffde29;
}

.bg-black-color {
  background-color: #000000;
}

.bg-gray-light {
  background-color: #f4feff;
}

.bg-gray-black {
  background-color: #011f34;
}

.bg-pink-color {
  background-color: #ff1493;
}

.bg-dark-color {
  background-color: #000000;
}

.bg-gray-dark {
  background-color: #111111;
}

.bg-f6f7fd {
  background-color: #f6f7fd;
}

.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*section-title*/
.section-title {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 105px;
  margin-bottom: 30px;
  margin-top: -9px;
}

.section-title h2 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 38px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.section-title .back-text {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  color: #000000;
  opacity: .04;
  text-transform: uppercase;
  font-size: 146px;
  font-weight: 900;
}

.section-title::before {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 1px;
  height: 50px;
  background: #000000;
  position: absolute;
}

.section-title.white-color h2 {
  color: #ffffff;
}

.section-title.white-color .back-text {
  opacity: .06;
  color: #ffffff;
}

.section-title.white-color::before {
  background: #ffde29;
}

/*btn-primary*/
.btn {
  border: none;
  padding: 11px 32px;
  line-height: initial;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  font-size: 18px;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.btn-primary {
  color: #000000;
  background-color: #ffde29;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
  color: #000000;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:hover, .btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
  color: #000000;
}

.container .whiteBag{
  color: white;
  font-size: 60px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

/*form-control */
.form-control {
  height: 35px;
  padding: 0 0 15px;
  font-size: 15px;
  line-height: initial;
  color: #000000;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control::-webkit-input-placeholder {
  color: #000000;
}

.form-control:-ms-input-placeholder {
  color: #000000;
}

.form-control::-ms-input-placeholder {
  color: #000000;
}

.form-control::placeholder {
  color: #000000;
}

.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  background-color: transparent;
  color: #000000;
  border-color: #000000;
}

/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 999999;
  text-align: center;
}

.preloader .spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 46%;
  -webkit-transform: translateY(-46%);
          transform: translateY(-46%);
}

.preloader .spinner .double-bounce1, .preloader .spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
          animation: sk-bounce 2.0s infinite ease-in-out;
}

.preloader .spinner .double-bounce2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*================================================
Navbar Area CSS
=================================================*/
.bg-light {
  background-color: #ffffff !important;
}

.bg-light.bg-gray-light {
  background-color: #f4feff !important;
}

.bg-light.bg-dark-color {
  background-color: #000000 !important;
}

.bg-light.transparent-navbar {
  background-color: transparent !important;
}

.navbar {
  padding: 0;
}

.navbar.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar.navbar-style-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
  padding-top: 20px;
}

.navbar.navbar-style-two.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar.navbar-style-three {
  position: relative;
  margin-top: -60px;
}

.navbar.navbar-style-three.is-sticky {
  margin-top: 0;
  position: fixed;
}

.navbar.transparent-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
  padding-top: 20px;
}

.navbar.transparent-navbar.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-light .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav {
  margin-left: auto;
}

.navbar-light .navbar-nav .nav-item {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #000000;
  text-transform: uppercase;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 0;
  height: 40px;
}

.navbar-light .navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: #b31919;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover::before, .navbar-light .navbar-nav .nav-item .nav-link.active::before {
  width: 100%;
  right: auto;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.navbar-light .navbar-nav .nav-item:last-child {
  padding-right: 0;
}

.navbar-light .navbar-nav .nav-item:first-child {
  padding-left: 0;
}

.navbar-light.bg-dark-color .navbar-brand img:nth-child(2) {
  display: none;
}

.navbar-light.bg-dark-color .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.navbar-light.bg-dark-color .navbar-nav .nav-item .nav-link::before {
  background: #ffffff;
}

.navbar-light.bg-dark-color.is-sticky .navbar-nav .nav-item .nav-link {
  color: #000000;
}

.navbar-light.bg-dark-color.is-sticky .navbar-nav .nav-item .nav-link::before {
  background: #000000;
}

.navbar-light.bg-dark-color.is-sticky .navbar-brand img:nth-child(1) {
  display: none;
}

.navbar-light.bg-dark-color.is-sticky .navbar-brand img:nth-child(2) {
  display: block;
}

.navbar-light.transparent-navbar .navbar-brand img:nth-child(2) {
  display: none;
}

.navbar-light.transparent-navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.navbar-light.transparent-navbar .navbar-nav .nav-item .nav-link::before {
  background: #ffffff;
}

.navbar-light.transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link {
  color: #000000;
}

.navbar-light.transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link::before {
  background: #000000;
}

.navbar-light.transparent-navbar.is-sticky .navbar-brand img:nth-child(1) {
  display: none;
}

.navbar-light.transparent-navbar.is-sticky .navbar-brand img:nth-child(2) {
  display: block;
}

/*================================================
Main Banner Area CSS
=================================================*/
.home-area {
  overflow: hidden;
}

.main-banner {
  height: 100vh;
}

.particles-js-banner {
  position: relative;
}

.particles-js-banner .main-banner-content {
  position: relative;
  z-index: 2;
}

.particles-js-banner .banner-image {
  position: relative;
  z-index: 2;
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-banner-content span {
  display: block;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.main-banner-content .title {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: -10px;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-right: 150px;
}

.main-banner-content .title h5 {
  margin-bottom: 0;
  color: #ffffff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  font-size: 22px;
  font-family: "Playfair Display", serif;
}

.main-banner-content .title h1 {
  margin-bottom: 0;
  color: #ffffff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  font-size: 52px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.main-banner-content .title::before {
  position: absolute;
  left: -110px;
  top: 0;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../img/paper-shape.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner-content p {
  font-family: "Poppins", sans-serif;
  display: block;
}

.main-banner-content.white-color span {
  color: #ffffff;
}

.main-banner-content.white-color p {
  color: #ffffff;
}

.main-banner-image {
  position: relative;
  z-index: 1;
  text-align: center;
}

.main-banner-image::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -15px;
  border: 10px solid #eeeeee;
  width: 106%;
  height: 80%;
  z-index: -1;
}

.background-image-banner {
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: #000000;
  background-image: url(../img/room\ 3.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-image-banner::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .78;
  left: 0;
  bottom: 0;
}


.hero-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-content img {
  border-radius: 50%;
  margin-bottom: 25px;
  width: 200px;
  height: 200px;
  border: 5px solid #ffffff;
}

.hero-content .img-title {
  display: block;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  float: left;
}

.hero-content .title {
  margin-top: 12px;
  margin-bottom: 17px;
}

.hero-content .title h1 {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

.hero-content .title h1 a, .hero-content .title h1 span {
  display: inline-block;
  color: #ffde29;
  font-size: 45px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.hero-content p {
  opacity: .90;
  font-family: "Poppins", sans-serif;
  display: block;
  color: #ffffff;
  float: left;
}

/*================================================
Copyright Area CSS
=================================================*/
.copyright-area {
  text-align: center;
  background-color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}

.copyright-area p {
  margin-bottom: 0;
  line-height: initial;
  color: #f4f4f4;
  font-size: 15px;
}

.copyright-area p i {
  margin-right: 2px;
}

/*================================================
Go Top CSS
=================================================*/
.go-top {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 15px;
  background-color: #000000;
  color: #ffffff;
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
}

.go-top.active {
  top: 98%;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
  opacity: 1;
  visibility: visible;
}

.go-top:hover, .go-top:focus {
  background-color: #ffffff;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */